.new-movies-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin: 20px;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
    
}
.movies-list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: #ffffff;
    margin: 20px;
    cursor: pointer;
    font-size: 16px;
}
.movies-list-header:hover, .movies-list-header span:hover {
   
 transition: all 0.1s ease;
    opacity: 1;

}
.movies-list-header span {
    opacity:0;
}
.movies-list-header span:after {
content: '>';
}
 .btn-righ {
    position: absolute;
    z-index:1;
    right: 0;
    bottom: -550px;
}
 .btn-lef {
   position: absolute;
    z-index:1;
    bottom: -550px;
    left: 0px;
}