.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.special-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin: 20px;
    margin-right: 40px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.movies-list-header {
    display: flex;
    color: #ffffff;
    margin: 90px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.movies-list-header:hover, .movies-list-header span:hover {
   
 transition: all 0.1s ease;
    opacity: 1;
}
.movies-list-header span {
    opacity:0;
}
.movies-list-header span:after {
content: '>';
}
 .btn-rig {
    position: absolute;
    z-index:1;
    bottom: 205px;
    right: 0px;
}
 .btn-le {
    position:absolute;
    z-index:1;
    bottom: 205px;
    left: 0px;
  
}