 .all-header {
    margin-top: 0;
    padding-top: 0;
 }
 ul.ul li a{
    padding: 0;
    margin:0;
    color: aliceblue;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
  }
  
.header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    /* max-width: 1200px; */
    margin:0 20px 20px 20px;
    color: aliceblue;
    
}
ul.ul {
    padding: 5px;
    margin:0;
}
div.logo-ul-right {
    display: flex;
    flex-direction: row;
    gap:35px;
    align-items: center;
    cursor: pointer;
}
div.ul-right{
    display: flex;
   flex-direction: row;
   justify-content: flex-start;
    cursor: pointer;
    color: aliceblue;
    
}
.ul-right li a:hover{ 
    color: #6eb8ff;
    transition: all 0.3s ease;
}
 .ul-left li:hover{ 
    color: #6eb8ff;
    transition: all 0.3s ease;
}
.ul-left ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
} 


.ul-left .btn-enter {
    line-height: 36px;
    padding-right: 10px;
    text-align: center;
    border-color: #ffffff;
    border: 1px solid;
      border-top-color: currentcolor;
      border-right-color: currentcolor;
      border-bottom-color: currentcolor;
      border-left-color: currentcolor;
    line-height: 42px;
    padding-left: 20px;
    border-radius: 5px;
    padding-right: 20px;
    cursor: pointer;
}
.ul-left .btn-enter:hover {
    background-color: #ffffff;
    color: #000;
}
ul.ul li a:nth-of-type(3){
    color: #6eb8ff;
}